{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Assigned Tasks</title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'list_projects' %}">My projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>"My Tasks"</h1>
            {% if task_list.count >= 1 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Owner</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Status</th>
                        <th>Notes</th>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                        <tr>
                            <td>
                                <div>
                                    <div class="tooltip">
                                    {{ task.name }}
                                    <div class="tooltiptext">
                                        {% if task.notes %}
                                        <a href="{% url 'add_notes' task.id %}">Edit notes</a>
                                        {% else %}
                                        <a href="{% url 'add_notes' task.id %}">Add notes</a>
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{ task.project.name }}</td>
                            <td>{{ task.project.owner }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td class="center-text">{{ task.get_status_display }}</td>
                            {% if task.notes %}
                                <td>{{ task.notes }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>"You have no tasks"</p>
            {% endif %}
        </div>
    </main>
    <footer>
        Projectify by Austin Kim
    </footer>
</body>
</html>
