{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Tasks</title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>
<body>
    <header>
        <nav class="nav-items-grid">
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'list_projects' %}">My projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1> <span class="shadow-box">{{ project_detail.name }}</span></h1>
            <span class="gray-background">{{ project_detail.description }}</span>
            <table>
                <thead>
                    <th>Owner</th>
                    <th>Team Members</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ project_detail.owner }}</td>
                        <td>{{ project_detail.get_team_member}}</td>

                    </tr>
                </tbody>
            </table>
            <h2>Tasks</h2>
            <div>
                <p><a class="pink-background" href="{% url 'create_task' project_detail.id %}">Create a new task</a></p>
            </div>
            {% if project_detail.tasks.count >= 1 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Status</th>
                        <th>Notes</th>
                    </thead>
                    <tbody>
                        {% for task in project_detail.tasks.all %}
                            <tr>
                                <td>
                                    <div>
                                        <div class="tooltip">
                                        {{ task.name }}
                                        {% if user == project_detail.owner %}
                                        <div class="tooltiptext">
                                            <a href="{% url 'edit_task' task.id %}">Edit</a>
                                            <a href="{% url 'delete_task' task.id %}">Delete</a>
                                        </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td class="center-text">{{ task.get_status_display}}</td>
                                <td>{{ task.notes }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text_color">This project has no tasks</p>
            {% endif %}
        </div>
    </main>
    <footer>
        Projectify by Austin Kim
    </footer>
</body>
</html>
