{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>
<body>
    <header>
        <nav class= "nav-items-grid">
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1 class="text-color">{{ user.first_name }}'s Projects</h1>
            <div>
                <p><a class="pink-background" href="{% url 'create_project' %}">Create a new project</a> </p>
            </div>
            {% if project_list.count >= 1 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                        <tr>
                            <td>
                                <div>
                                    <div class="tooltip">
                                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                        {% if user == project.owner %}
                                        <div class="tooltiptext">
                                            <a href="{% url 'edit_project' project.id %}">Edit</a>
                                            <a href="{% url 'delete_project' project.id %}">Delete</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                            <td class="center-text"> {{ project.tasks.count }} </td>
                            <td class="center-text">{{ project.get_status_display }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-color">"You do not have any projects"</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
