<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
</head>
<body>
    <main>
        <div>
            <h1>"My Projects"</h1>
            {% if project_list.count >= 1 %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </thead>
                <tbody>
                    {% for project in project_list %}
                    <tr>
                        <td> {{ project.name }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>"You are not assigned to any projects"</p>
            {% endif %}
        </div>
    </main>

</body>
</html>
